@import "tailwindcss";
@config "../tailwind.config.js";

/* Your custom CSS like .glass-nav should be down here */

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.sunbeam-glow {
  box-shadow: 0 0 20px rgba(255, 209, 102, 0.4);
}
.glass-nav {
  background-color: rgba(243, 252, 243, 0.7);
  backdrop-filter: blur(24px);
}
.primary-gradient {
  background: linear-gradient(135deg, #006d50 0%, #005f45 100%);
}
